{% load static %}
{% block style %}
  <link rel="stylesheet" href=" {% static 'css/Proyectos.css' %} " />
{% endblock %}

{% block content %}
  <h2 class="">Proyectos</h2>

  <div class="container mb-5 mt-5">
    <div class="card-container">
      <div>
        <div class="card">
          <img src="" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Nombre del proyecto</h5>
            <p class="card-text">Descripción del proyecto</p>
            <div class="tecnologia">
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <a class="btn btn-sm btn-secondary btn-custom" href=" # " role="button">Ver más</a>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Nombre del proyecto</h5>
            <p class="card-text">Descripción del proyecto</p>
            <div class="tecnologia">
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <a class="btn btn-sm btn-secondary btn-custom" href=" # " role="button">Ver más</a>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Nombre del proyecto</h5>
            <p class="card-text">Descripción del proyecto</p>
            <div class="tecnologia">
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <a class="btn btn-sm btn-secondary btn-custom" href=" # " role="button">Ver más</a>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <img src="" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Nombre del proyecto</h5>
            <p class="card-text">Descripción del proyecto</p>
            <div class="tecnologia">
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
              <img src="{% static 'img/python.png' %}" style="width:40px; height:40px;" alt="tecnología"/>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <a class="btn btn-sm btn-secondary btn-custom" href=" # " role="button">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
