{% extends 'core/base.html' %}
{% load static %}

{% block title %}Detalle{% endblock title %}
{% block content %}
    


  <h2>{{ proyecto.nombre }}</h2>
  <p class="mb-5 mt-4">{{ proyecto.descripcion|linebreaksbr }}</p>
    {% comment %} <img src="{{ proyecto.imagen.url }}" alt="{{ proyecto.nombre }}" class="img-fluid mb-3"> {% endcomment %}


    {% if proyecto.imagenes_proyecto.all|length > 0 %}
        <div id="proyectoCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for imagen in proyecto.imagenes_proyecto.all %}
                    <button type="button" data-bs-target="#proyectoCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for imagen in proyecto.imagenes_proyecto.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ imagen.imagen.url }}" class="d-block w-100" alt="{{ imagen.alt_text|default:proyecto.nombre }}">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#proyectoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#proyectoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    {% else %}
        <p>No hay imágenes adicionales para este proyecto.</p>
    {% endif %}
  

<h2 class="text-center mt-5">Tecnologias</h2>
<div class="tecnologia mt-2 mb-5 center" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
    {% for tecnologia in proyecto.tecnologias.all %}
        <div class="image-container mx-2 my-2">
            <img class="img-fluid rounded" src="{{tecnologia.imagen.url}}" style="width:30px; height:30px;" alt="tecnología"/>
        </div>
    {% endfor %}
</div>

{% endblock content %}
  