{% load static %}


<h2>Tecnologías</h2>
<div class="tecnologia mt-2 mb-5 center" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
    <div class="image-container">
        <img class="img-fluid rounded" src="{% static 'img/python.png' %}" style="width:80px; height:80px;" alt="tecnología"/>
    </div>
    <div class="image-container">
        <img class="img-fluid rounded" src="{% static 'img/python.png' %}" style="width:80px; height:80px;" alt="tecnología"/>
    </div>
    <div class="image-container">
        <img class="img-fluid rounded" src="{% static 'img/python.png' %}" style="width:80px; height:80px;" alt="tecnología"/>
    </div>
    <div class="image-container">
        <img class="img-fluid rounded" src="{% static 'img/python.png' %}" style="width:80px; height:80px;" alt="tecnología"/>
    </div>
    <div class="image-container">
        <img class="img-fluid rounded" src="{% static 'img/python.png' %}" style="width:80px; height:80px;" alt="tecnología"/>
    </div>
    <div class="image-container">
        <img class="img-fluid rounded" src="{% static 'img/python.png' %}" style="width:80px; height:80px;" alt="tecnología"/>
    </div>
</div>
