body {
    background: linear-gradient(225deg, #424242, #212121); /* Inclinado a 225 grados */
    color: #f5f5f5;
    font-family: monospace; /* Una fuente monoespaciada puede evocar código */
    margin: 0;
    padding: 0;
    min-height: 100vh;
}