{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container">

<h1>Sobre mi</h1>

<p>Hola, soy un desarrollador web apasionado por la tecnología y el aprendizaje continuo. Me encanta crear aplicaciones web que sean funcionales y atractivas para los usuarios.</p>
<p>En mi tiempo libre, disfruto de la lectura, la música y explorar nuevas tecnologías. Siempre estoy buscando nuevos desafíos y oportunidades para crecer profesionalmente.</p>

    {% include 'contactos/contactos.html' %}
</div>

{% endblock %}